<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.example.myfirstcloneapp">

   <application
	  android:allowBackup="true"
	  android:icon="@mipmap/ic_launcher"
	  android:label="@string/app_name"
	  android:roundIcon="@mipmap/ic_launcher_round"
	  android:supportsRtl="true"
	  android:theme="@style/AppTheme.NoActionBar">
	  <activity android:name=".ActivityArticleList">
	  </activity>
	  <activity android:name=".ActivityArticle2">
	  </activity>
	  <activity android:name=".ActivityArticle1">
	  </activity>
	  <activity android:name=".ActivityNews">
	  </activity>
	  <activity android:name=".ActivityRegistration">
	  </activity>
	  <activity android:name=".ActivityPropertyList">
	  </activity>
	  <activity android:name=".ActivityProvince">
	  </activity>
	  <activity android:name=".ActivityList">
	  </activity>
	  <activity android:name=".ActivityLogin">
		 <intent-filter>
			<action android:name="android.intent.action.MAIN"/>
			<category android:name="android.intent.category.LAUNCHER"/>
		 </intent-filter>
	  </activity>
   </application>

</manifest>